@font-face {
    font-family: 'rockwell_condensed';
    src: url('../fonts/Rockwell-CondensedBold.woff2') format('woff2'),
        url('../fonts/Rockwell-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

