/*--------------------------------------------------------------
>>> TABLE OF CONTENTS Main CSS Documentation:
----------------------------------------------------------------
1.0 Page
2.0 Cover
3.0 Custom
--------------------------------------------------------------*/

// 1.0 Page

body{
  // @include gradientBlue2;
}

.picturefill-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: 50% 100% !important;
}

.page {
  position: relative;
  &__bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__10{

    .text{
      margin-top: 0vw;
    }

    .pembangkit{
      color: $white;

      p{
        font-size: 1.3em;
        
        @include max-responsive($sm){
          font-size: 0.8em;          
        }
      }
    }

    .data-pembangkit{
      text-align: center;
      margin: 20px auto;

      // .area{
      //   color: $white;
      // }

      .area{
        color: #668079;
        padding: 10px;
        background: $white;
        width: 310px;
        margin: auto;
      }
    }
  }

  &__11{

    h3{
      color: $white;
    }
  }

  &__12{

    .text{
      margin-top: auto;
      font-size: 15px;
    }

    .graphic{

      @include range-responsive($lg,$xlg){
        width: 50%;
        margin: auto;
      }
    }
    
    .credit-label{      
      @include range-responsive($lg,$xlg){
        right: 0% !important;
  
        img{
          width: 80%;
        }
      }
    }
  }

  &__14{
    .text{
      font-size: 16px;
    }
    .graphic{
      @include range-responsive($lg,$xlg){
        width: 45%;
        margin: auto;
      }
    }
  }

  &__15{
    .graphic{
      @include range-responsive($lg,$xlg){
        width: 55%;
        margin: auto;
      }
    }    
  }

  &__16, &__17{

    .container{
      position: relative;
    }

    .highlight{
      position: absolute;
      top: 10vw;
      margin: auto;
      left: 0;
      right: 0;

      span{
        color: #B3AA4B;
        font-weight: bold;
        font-size: 1.2em;
      }
      @include max-responsive($sm){
        top: 80vw;
      }
    }
  }

  &__19{

    .eksplorasi{

      &__item{
        // width: 20%;
        // float: left;
        height: 100px;
        display: table;
        margin: 10px auto;
        
        .box{
          color: #fff;
          text-align: center;
          border-radius: 40px 40px 0px 40px;
          padding: 10px;
          display: table-cell;
          vertical-align: middle;

          h5{
            font-size: 1.2em;
          }
          
          p{

          }

          &--red{
            background: #9D1D32;
          }
          &--green{
            background: #B7AA43;
          }
          &--yellow{
            background: #DE9837;
          }
        }

        .image{
          display: table-cell;
          vertical-align: middle;

          img{
            width: 65px;
          }
        }
      }
    }

    .wk{
      position: relative;

      .click{
        position: absolute;
        bottom: 0;
        left: 10%;
        z-index: 2;

        img{
          width: 60px;
        }
      }

      &__item{
        color: #000;
        text-align: center;
        background: url(../images/item-eksplo.png) no-repeat;
        background-size: cover;
        padding: 10px;
        height: 180px;
        width: 160px;
        margin: 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;

        &:hover{
          opacity: 0.8;
          cursor: pointer;
        }
      }
    }
  }

  &__animation {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    img {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &__city{
      

      &--train{
        right: -40%;
      }

      &--awan{
        animation: swing 25s infinite alternate;
      }
      &--awan2{
        animation: swingReverse 25s infinite alternate;
      }
      &--moon{
        display: none;
      }
      &--gedung{
        // display: none;
        // right: -20%;      
      }

    }

    &__apart{

      &--mobil{
        right: 0;
      }

      &--mobil2{
        left: -20%;
      }
    }

    &__mrt{

      &--people{
        right: -5%;
        opacity: 0;
        // display: none;
      }
      &--people1{
        right: -5%;              
        opacity: 0;
      }
      &--people2{
        right: -5%;                      
        opacity: 0;
      }
      &--people3{
        right: -5%;                              
        opacity: 0;
      }
      &--people4{
        right: -5%;                              
        opacity: 0;
      }
      &--people5{
        right: -5%;                                            
        opacity: 0;
      }
    }

    &__listrik{

      &--mrt{
        left: 0;
        z-index: 110;
      }

      &--angkot{
        left: -40%;
      }
    }
  }

  &__static {
    position: fixed;
    top: 0;
    left: 0;
    @include display_full;
    @include transition(0.7s);

    

    &__build{
      top: 100%;
      // @include gradientBlue2;

      .overlay__halfblack{
        display: none;
      }
            
    }

    &__pembangkit{
      top: 100%;
      background: #668079;
    }

    &__tambang{
      top: 100%;
      @include gradientBlue3;   
      
      .overlay__grey{
        display: none;
      }
      
      .overlay__halfblack2{
        background: rgba(0,0,0,0.5);
        display: none;
      }
    }
    
    &__produksi{
      @include gradientBlue3;   
      top: 100%;
    }
    
    &__eksplo{
      top: 100%;
      background: #402316;
    }
  }

  &__image {
    @include display_full;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__color{
    @include display_full;
    position: fixed;
    top: 0;
    left: 0;
    
    .item{
      @include display_full;      
    }

    &--night{

    }

    &--soon{
      @include gradientBlue2;
      // opacity: 0;
    }

    &--evening{
      @include gradientBlue;
    }

    &--blue{
      background: #668079;
    }

  }
  
  .label{
    background: url(../images/label.png) no-repeat;
    background-size: cover;
    padding: 10px;
    width: 60%;
    margin: auto;
    color: black;
  }

  .credit-chart{
    color: $white;
    position: absolute;
    bottom: 5%;
    left: 5%;
    z-index: 2;

    @include range-responsive($lg,$xlg){
      left: 2%;
      font-size: 13px;
    }
  }

  .credit-label{
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 2;
  }
}

// 2.0 Cover
.cover {
  position: relative;
  overflow: hidden;
  @include gradientBlue2;
  // background: linear-gradient(31deg, #f2b06d, #589ab8);
  // background-size: 400% 400%;

  // -webkit-animation: AnimationName 17s ease infinite;
  // -moz-animation: AnimationName 17s ease infinite;
  // animation: AnimationName 17s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:82% 0%}
      50%{background-position:19% 100%}
      100%{background-position:82% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:82% 0%}
      50%{background-position:19% 100%}
      100%{background-position:82% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:82% 0%}
      50%{background-position:19% 100%}
      100%{background-position:82% 0%}
  }
  
  &__title{
    font-family: $font_2;
    color: $white;
    font-size: 2em;
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 20;

    @include max-responsive($sm){
      font-size: 0.8em;
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
    }
  }

  &__content{

    &__item{
      position: absolute;
      bottom: 0;
    }

    .wave{      
      overflow: hidden;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;

      &__item{
        position: absolute;
        width: 100%;
        overflow: hidden;
        height: 100%;
        bottom: -1px;
        
        .animation{
          position: absolute;
          left: 0;
          width: 200%;
          height: 100%;
          background-repeat: repeat no-repeat;
          background-position: 0 bottom;
          transform-origin: center bottom;
          // background-size: 150% 150%;

          @include max-responsive($sm){
            background-size: 50% 50%;
          }
        }

        &--1{
          z-index: 7;
          background-image: url(../images/cover-wave-1.png);        
          height: 100%;
          animation: move_wave 20s linear infinite;
        }
        
        &--2{
          z-index: 6;
          background-image: url(../images/cover-wave-2.png);        
          height: 100%;
          animation: move_wave 18s linear infinite;
        }
        
        &--3{
          z-index: 5;
          background-image: url(../images/cover-wave-3.png);        
          height: 100%;
          animation: move_wave 16s linear infinite;
        }
        
        &--4{
          z-index: 4;
          background-image: url(../images/cover-wave-4.png);       
          height: 100%;
          animation: move_wave 15s linear infinite;
        }
        
        &--5{
          z-index: 3;
          background-image: url(../images/cover-wave-5.png);       
          height: 100%;
          animation: move_wave 14s linear infinite;
        }
        
        &--6{
          z-index: 2;
          background-image: url(../images/cover-wave-6.png);       
          height: 100%;
          animation: move_wave 13s linear infinite;
        }
      }
    }
    
    .building{
      position: absolute;
      bottom: 1%;
      left: 0;
      z-index: 1;
      
      @include min-responsive($xlg){
        bottom: -3.5%;
      }
    }
    
    .boat{
      position: absolute;
      bottom: -3%;
      left: 9%;
      z-index: 5;

      @include min-responsive($xlg){
        bottom: -5%;
      }
    }
    
    .hill{
      z-index: 3;
      bottom: -3%;
      
      @include min-responsive($xlg){
        bottom: -5%;
      }
    }

    .kilang{
      z-index: 4;
      bottom: -3%;
      width: 90%;
      right: 0;
    }
  }
}

// 3.0 Custom

.scroll-down {
  position: absolute;
  bottom: 15%;
  right: 5%;
  margin: auto;
  width: 40px;
  z-index: 3;
  color: $white;
}

// Modal Popup
.popup__content {
  .modal-dialog{
    margin: 60% auto 10px;
  }

  @media (min-width: 768px){
    .modal-dialog {
        width: 700px;
        margin: 15% auto 20px;
    }
  }
  .modal-content {
    border-radius: 10px;
    background: url(../images/bg-popup-eksplo.png) no-repeat center;
    background-size: 70% 100%;
    background-color: #E6E0DD;
    padding: 20px 40px;
  }
  .modal-header {
    border-bottom: 0px;
    text-align: center;
    font-size: 2em;

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      background: #9D2231;
      border-radius: 20px;
      border: none;
      padding: 5px 10px;
      font-size: 17px;
      font-weight: bold;
      color: white;

      @include max-responsive($sm){
        right: 0;
      }
    }
  }

  .modal-body{
    text-align: left;
  }
}

